Repository mazyar-kawa/gamma-ui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: bun run build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bun run format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

fix some issues
  apps/www/app/(docs)/docs/[...slug]/page.tsx
  apps/www/components/component-preview-tabs.tsx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/magnetize-button.json
  apps/www/public/r/support-box.json
  apps/www/registry/__index__.tsx
  apps/www/registry/gammaui/magnetize-button.tsx
  apps/www/registry/gammaui/support-box.tsx
  bun.lock
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add new components
  apps/www/.source/index.ts
  apps/www/config/docs.ts
  apps/www/content/docs/components/3d-folder.mdx
  apps/www/content/docs/components/location-map.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/3d-folder-demo.json
  apps/www/public/r/3d-folder.json
  apps/www/public/r/location-map-demo.json
  apps/www/public/r/location-map.json
  apps/www/public/r/radial-intro-demo.json
  apps/www/public/r/radial-intro.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/3d-folder-demo.tsx
  apps/www/registry/example/location-map-demo.tsx
  apps/www/registry/example/radial-intro-demo.tsx
  apps/www/registry/gammaui/3d-folder.tsx
  apps/www/registry/gammaui/location-map.tsx
  apps/www/registry/gammaui/radial-intro.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add cloud flow component
  apps/www/.source/index.ts
  apps/www/app/globals.css
  apps/www/components/landing/components.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/cloud-flow.mdx
  apps/www/content/docs/components/rest-api.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/cloud-flow-demo.json
  apps/www/public/r/cloud-flow.json
  apps/www/public/r/cpu-architecture-demo.json
  apps/www/public/r/cpu-architecture.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/cloud-flow-demo.tsx
  apps/www/registry/example/cpu-architecture-demo.tsx
  apps/www/registry/example/rest-api-demo.tsx
  apps/www/registry/gammaui/cloud-flow.tsx
  apps/www/registry/gammaui/cpu-architecture.tsx
  apps/www/registry/gammaui/rest-api.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: change some code
  apps/www/public/llms-full.txt
  apps/www/public/r/3d-folder-demo.json
  apps/www/public/r/3d-folder.json
  apps/www/public/r/shadcn-ui-demo.json
  apps/www/registry/example/3d-folder-demo.tsx
  apps/www/registry/example/shadcn-ui-demo.tsx
  apps/www/registry/gammaui/3d-folder.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add og and change some url
  .gitignore
  apps/www/.env.prod
  apps/www/.gitignore
  apps/www/app/(docs)/docs/[...slug]/page.tsx
  apps/www/app/og/geist-regular-otf.json
  apps/www/app/og/geist-semibold-otf.json
  apps/www/app/og/geistmono-regular-otf.json
  apps/www/app/og/route.tsx
  apps/www/components/icons.tsx
  apps/www/config/sits.ts
  apps/www/lib/utils.ts
  apps/www/public/gamma-ui-dark.svg
  apps/www/public/llms.txt
  apps/www/public/logo.svg
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/index.ts
  public/file.svg
  public/globe.svg
  public/motion.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: typecheck, lint:fix, format:fix:silent

feat: change something
  apps/www/.env.development
  apps/www/.env.prod
  apps/www/.env.production
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
Due: typecheck, lint:fix, format:fix:silent

feat: update component imports, metadata, and site configuration
  apps/www/.source/index.ts
  apps/www/app/(docs)/docs/[...slug]/page.tsx
  apps/www/app/layout.tsx
  apps/www/app/og/route.tsx
  apps/www/components/components-list.tsx
  apps/www/components/icons.tsx
  apps/www/config/sits.ts
  apps/www/content/docs/components/index.mdx
  apps/www/lib/utils.ts
Due: typecheck, lint:fix, format:fix:silent

feat: update site metadata and improve hero component links
  apps/www/app/layout.tsx
  apps/www/components/landing/hero.tsx
  apps/www/config/sits.ts
Due: typecheck, lint:fix, format:fix:silent

feat: refactor code structure for improved readability and maintainability
  CONTRIBUTING.md
  LICENSE.md
  README.md
  apps/www/app/globals.css
  apps/www/content/docs/components/cloud-flow.mdx
  apps/www/content/docs/components/macbook-keyboard.mdx
  apps/www/public/hero.gif
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/registry/gammaui/cloud-flow.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: update README for consistency and correct links
  README.md
Due: none

feat: update background styles
  apps/www/app/og/route.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/cloud-flow.json
  apps/www/registry/gammaui/cloud-flow.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add new component
  apps/www/.source/index.ts
  apps/www/config/docs.ts
  apps/www/content/docs/components/usage-card.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/usage-card-demo.json
  apps/www/public/r/usage-card.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/usage-card-demo.tsx
  apps/www/registry/gammaui/usage-card.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: change several thing
  apps/www/app/favicon.ico
  apps/www/public/hero.gif
  apps/www/public/llms-full.txt
  apps/www/public/r/usage-card.json
  apps/www/registry/gammaui/usage-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add data feeding and aurora glass components with demos
  apps/www/.source/index.ts
  apps/www/config/docs.ts
  apps/www/content/docs/components/aurora-glass.mdx
  apps/www/content/docs/components/data-feeding-in.mdx
  apps/www/content/docs/components/meta.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/aurora-glass-demo.json
  apps/www/public/r/aurora-glass.json
  apps/www/public/r/data-feeding-in-demo.json
  apps/www/public/r/data-feeding-in.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/aurora-glass-demo.tsx
  apps/www/registry/example/data-feeding-in-demo.tsx
  apps/www/registry/gammaui/aurora-glass.tsx
  apps/www/registry/gammaui/data-feeding-in.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add Voxel Wall component and update Aurora Glass descriptions
  apps/www/.source/index.ts
  apps/www/app/(docs)/docs/[...slug]/page.tsx
  apps/www/app/(docs)/layout.tsx
  apps/www/components/component-source.tsx
  apps/www/components/docs-sidebar.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/aurora-glass.mdx
  apps/www/content/docs/components/meta.json
  apps/www/content/docs/components/voxel-wall.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/aurora-glass-demo.json
  apps/www/public/r/aurora-glass.json
  apps/www/public/r/registry.json
  apps/www/public/r/voxel-wall-demo.json
  apps/www/public/r/voxel-wall.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/voxel-wall-demo.tsx
  apps/www/registry/gammaui/voxel-wall/camera-rig.tsx
  apps/www/registry/gammaui/voxel-wall/light-rays.tsx
  apps/www/registry/gammaui/voxel-wall/scene.tsx
  apps/www/registry/gammaui/voxel-wall/wall.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  bun.lock
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add build script for www and update TypeScript linting rules in registry index
  apps/www/vercel.json
  package.json
Due: typecheck, lint:fix, format:fix:silent

feat: update landing page components and styles
  apps/www/.source/index.ts
  apps/www/app/(marketing)/layout.tsx
  apps/www/app/(marketing)/page.tsx
  apps/www/app/globals.css
  apps/www/components/landing/components.tsx
  apps/www/components/landing/cta-section.tsx
  apps/www/components/landing/features.tsx
  apps/www/components/landing/hero-preview.tsx
  apps/www/components/landing/hero.tsx
  apps/www/components/landing/section-header.tsx
  apps/www/components/landing/showcase-card.tsx
  apps/www/components/landing/showcase-marquee.tsx
  apps/www/components/landing/showcase-sites-marquee.tsx
  apps/www/components/landing/showcase.tsx
  apps/www/components/landing/stacks.tsx
  apps/www/components/landing/workflow-task-runner.tsx
  apps/www/config/docs.ts
  apps/www/config/showcase.ts
  apps/www/config/workflow.ts
  apps/www/content/docs/quick-start.mdx
  apps/www/public/showcase/biroke.png
  apps/www/public/showcase/gamma-ui.png
  apps/www/public/showcase/mazyar.png
Due: typecheck, lint:fix, format:fix:silent

fix: clean up quick start documentation formatting
  apps/www/content/docs/quick-start.mdx
Due: none

feat: add Rabbit Mascot component and demo
  apps/www/.source/index.ts
  apps/www/app/(marketing)/layout.tsx
  apps/www/components/landing/cookie-consent.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/rabbit-mascot.mdx
  apps/www/public/blob.svg
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/rabbit-mascot-demo.json
  apps/www/public/r/rabbit-mascot.json
  apps/www/public/r/registry.json
  apps/www/public/rabbit.svg
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/rabbit-mascot-demo.tsx
  apps/www/registry/gammaui/rabbit-mascot-arm.ts
  apps/www/registry/gammaui/rabbit-mascot-blink.ts
  apps/www/registry/gammaui/rabbit-mascot-moods.ts
  apps/www/registry/gammaui/rabbit-mascot.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent
